.header-main {
  background-color: grey;
  margin: 0px;
  display: flex;
  height: 60px;
  align-items: center;
}
.app-title {
  margin-top: 0px;
}
.navbuttons {
  align-content: flex-end;
  
}
Button {
  align-self: flex-end;
}
